<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>解析</title>
    <link rel="stylesheet" href="../../plugins/bootstrap-3.3.7-dist/css/bootstrap.css"/>
    <link rel="stylesheet" href="../../css/public.css"/>
    <link rel="stylesheet" href="../../css/analysus.css"/>
</head>
<body>
<div class="analysis-header"></div>
<div class="container" id="analysis">
    <!------------------------------------------------------填空题(1)--------------------------------------------------------->
    <div class="blanks" style="display: none" >
        <div class="col-sm-7">
            <div class="col-sm-2 font-size-18">
                <strong>填空题</strong>
            </div>
            <div class="col-sm-1">
                <span class="font-color-orange">1</span>/11
            </div>
            <div class="col-sm-1 col-sm-offset-5  question-but">
                <button class="btn btn-info">上一题</button>
            </div>
            <div class="col-sm-1 col-sm-offset-1 question-but">
                <button class="btn btn-warning">下一题</button>
            </div>
            <p class="col-sm-12 font-line-height-28 margin-top-20">多选题多选题多选题多选题多选题多选题多选题多选题多选题多选题多选题多选题多选题多选题多选题多选题
                多选题多选题多选题多选题多选题多选题多选题多选题多选题多选题多选题多选题多选题多选题多选题多选题多选题多选题多选题多选题多选题多选题多
                选题多选题多选题多选题多选题多选题多选题多选题多选题多选题
            </p>
            <div class="col-sm-12">
                <label for="blanksFir" class="col-sm-1 control-label blanks-answer-num">1</label>
                <div class="col-sm-11">
                    <input type="text" class="form-control blanks-answers" id="blanksFir">
                </div>
            </div>
            <div class="col-sm-12">
                <label for="blanksSec" class="col-sm-1 control-label blanks-answer-num">2</label>
                <div class="col-sm-11">
                    <input type="text" class="form-control blanks-answers" id="blanksSec">
                </div>
            </div>
        </div>
        <div class="col-sm-4 col-sm-offset-1 blanks-right">
            <p class="col-sm-3 font-line-height-28"><strong>您的作答：</strong></p>
            <p class="col-sm-9 font-color font-line-height-28">实打asdddddd发斯蒂芬斯蒂芬第三方递四方速递实大所多</p>
            <p class="col-sm-3 font-line-height-28"><strong>答案：</strong></p>
            <p class="col-sm-9 font-color font-line-height-28">实打asdddddd发斯蒂芬斯蒂芬第三方递四方速递实大所多</p>
            <p class="col-sm-3 font-line-height-28"><strong>视频：</strong></p>
            <p class="col-sm-4 font-line-height-28">题目视频</p>
            <p class="col-sm-4 col-sm-offset-1 font-line-height-28">面批视频</p>
            <div class="col-sm-5 col-sm-offset-2">
                <img src="../../img/math.png" class="blanks-video">
                <div class="blanks-cover">
                    <img src="../../img/play.png">
                </div>
            </div>
            <div class="col-sm-5">
                <img src="../../img/math.png" class="blanks-video">
                <div class="blanks-cover">
                    <img src="../../img/play.png">
                </div>
            </div>
            <p class="col-sm-3 font-line-height-28"><strong>解析：</strong></p>
            <p class="col-sm-9 font-color font-line-height-28">实打asdddddd发斯蒂芬斯的沙发斯蒂芬东方闪电蒂芬第三方递四方速递实大所多</p>
            <p class="col-sm-3 font-line-height-28"><strong>知识点：</strong></p>
            <p class="col-sm-9 font-color font-line-height-28">电蒂芬第三方递四方速递实大所多</p>
            <p class="col-sm-3 font-line-height-28"><strong>解题技巧：</strong></p>
            <p class="col-sm-9 font-color font-line-height-28">实打芬第三方递四方速递实大所多</p>
        </div>
    </div>
    <!--------------------------------------------------------问答题----------------------------------------------------------->
    <div class="qa" style="display: none">
        <div class="col-sm-7">
            <div class="col-sm-2 font-size-18">
                <strong>问答题</strong>
            </div>
            <div class="col-sm-1">
                <span class="font-color-orange">1</span>/11
            </div>
            <div class="col-sm-1 col-sm-offset-5  question-but">
                <button class="btn btn-info">上一题</button>
            </div>
            <div class="col-sm-1 col-sm-offset-1 question-but">
                <button class="btn btn-warning">下一题</button>
            </div>
            <div class="col-sm-12  margin-top-20">你觉得年轻的时候应该注意什么？</div>
            <div class="col-sm-12 qa-box margin-top-20">
                <p class="font-line-height-28">是大包军奥所不多多多多多多多多多多多多多多多多多多多多多多多多多多多多多多多多多多多多范德萨范德萨发生的
                    是大包军奥所不多多多多多多多多多多多多多多多多多多多多多多多多多多多多多多多多多多多多范德萨范德萨发生的
                    是大包军奥所不多多多多多多多多多多多多多多多多多多多多多多多多多多多多多多多多多多多多范德萨范德萨发生的
                    是大包军奥所不多多多多多多多多多多多多多多多多多多多多多多多多多多多多多多多多多多多多范德萨范德萨发生的</p>
            </div>
        </div>
        <div class="col-sm-4 col-sm-offset-1 blanks-right">
            <p class="col-sm-3 font-line-height-28"><strong>您的作答：</strong></p>
            <p class="col-sm-9 font-color font-line-height-28">实打asdddddd发斯蒂芬斯蒂芬第三方递四方速递实大所多</p>
            <p class="col-sm-3 font-line-height-28"><strong>答案：</strong></p>
            <p class="col-sm-9 font-color font-line-height-28">实打asdddddd发斯蒂芬斯蒂芬第三方递四方速递实大所多</p>
            <p class="col-sm-3 font-line-height-28"><strong>视频：</strong></p>
            <p class="col-sm-4 font-line-height-28">题目视频</p>
            <p class="col-sm-4 col-sm-offset-1 font-line-height-28">面批视频</p>
            <div class="col-sm-5 col-sm-offset-2">
                <img src="../../img/math.png" class="blanks-video">
                <div class="blanks-cover">
                    <img src="../../img/play.png">
                </div>
            </div>
            <div class="col-sm-5">
                <img src="../../img/math.png" class="blanks-video">
                <div class="blanks-cover">
                    <img src="../../img/play.png">
                </div>
            </div>
            <p class="col-sm-3 font-line-height-28"><strong>解析：</strong></p>
            <p class="col-sm-9 font-color font-line-height-28">实打asdddddd发斯蒂芬斯的沙发斯蒂芬东方闪电蒂芬第三方递四方速递实大所多</p>
            <p class="col-sm-3 font-line-height-28"><strong>知识点：</strong></p>
            <p class="col-sm-9 font-color font-line-height-28">电蒂芬第三方递四方速递实大所多</p>
            <p class="col-sm-3 font-line-height-28"><strong>解题技巧：</strong></p>
            <p class="col-sm-9 font-color font-line-height-28">实打芬第三方递四方速递实大所多</p>
        </div>
    </div>
    <!--------------------------------------------------------单选题----------------------------------------------------------->
    <div class="selection" style="display: none" >
        <div class="col-sm-7">
            <div class="col-sm-2 font-size-18">
                <strong>单选题</strong>
            </div>
            <div class="col-sm-1">
                <span class="font-color-orange">1</span>/11
            </div>
            <div class="col-sm-1 col-sm-offset-5">
                <button class="btn btn-info">上一题</button>
            </div>
            <div class="col-sm-1 col-sm-offset-1">
                <button class="btn btn-warning">下一题</button>
            </div>
            <div class="col-sm-12  margin-top-20">你觉得年轻的时候应该注意什么？</div>
            <div class="">
                <div class="col-sm-12 margin-top-20">
                    <label class="control-label selection-answer selection-radio" >
                        <input type="radio" name="selectionRadio"  value=""  class="selection-answers" checked>A.独山大道
                    </label>
                </div>
                <div class="col-sm-12 ">
                    <label class="control-label selection-answer selection-radio-no" >
                            <input type="radio" name="selectionRadio"  value="" class="selection-answers">B.独山大道
                        </label>
                </div>
                <div class="col-sm-12 ">
                    <label class="control-label selection-answer selection-radio-no" >
                        <input type="radio" name="selectionRadio"  value=""  class="selection-answers">C.独山大道
                    </label>
                </div>
                <div class="col-sm-12 ">
                    <label class="control-label selection-answer selection-radio-no" >
                        <input type="radio" name="selectionRadio"  value=""  class="selection-answers">D.独山大道
                    </label>
                </div>
            </div>
        </div>
        <div class="col-sm-4 col-sm-offset-1 blanks-right">
            <p class="col-sm-3 font-line-height-28"><strong>您的作答：</strong></p>
            <p class="col-sm-9 font-color font-line-height-28">实打asdddddd发斯蒂芬斯蒂芬第三方递四方速递实大所多</p>
            <p class="col-sm-3 font-line-height-28"><strong>答案：</strong></p>
            <p class="col-sm-9 font-color font-line-height-28">实打asdddddd发斯蒂芬斯蒂芬第三方递四方速递实大所多</p>
            <p class="col-sm-3 font-line-height-28"><strong>视频：</strong></p>
            <p class="col-sm-4 font-line-height-28">题目视频</p>
            <p class="col-sm-4 col-sm-offset-1 font-line-height-28">面批视频</p>
            <div class="col-sm-5 col-sm-offset-2">
                <img src="../../img/math.png" class="blanks-video">
                <div class="blanks-cover">
                    <img src="../../img/play.png">
                </div>
            </div>
            <div class="col-sm-5">
                <img src="../../img/math.png" class="blanks-video">
                <div class="blanks-cover">
                    <img src="../../img/play.png">
                </div>
            </div>
            <p class="col-sm-3 font-line-height-28"><strong>解析：</strong></p>
            <p class="col-sm-9 font-color font-line-height-28">实打asdddddd发斯蒂芬斯的沙发斯蒂芬东方闪电蒂芬第三方递四方速递实大所多</p>
            <p class="col-sm-3 font-line-height-28"><strong>知识点：</strong></p>
            <p class="col-sm-9 font-color font-line-height-28">电蒂芬第三方递四方速递实大所多</p>
            <p class="col-sm-3 font-line-height-28"><strong>解题技巧：</strong></p>
            <p class="col-sm-9 font-color font-line-height-28">实打芬第三方递四方速递实大所多</p>
        </div>
    </div>
    <!--------------------------------------------------------完形填空----------------------------------------------------------->
    <div class="cloze">
        <div class="col-sm-7">
            <div class="col-sm-2 font-size-18">
                <strong>完形填空</strong>
            </div>
            <div class="col-sm-1">
                <span class="font-color-orange">1</span>/11
            </div>
            <div class="col-sm-1 col-sm-offset-5  ">
                <button class="btn btn-info">上一题</button>
            </div>
            <div class="col-sm-1 col-sm-offset-1 ">
                <button class="btn btn-warning">下一题</button>
            </div>
            <p class="col-sm-12 margin-top-20 font-line-height-28">萨迪克军奥所大所多撒大所多多大所多萨迪克军奥所大所多撒大所多多大所多萨迪克军奥所大所多撒大所多多大
                所多萨迪克军奥所大所多撒大所多多大所多萨迪克军奥所大所多撒大所多多大所多萨迪克军奥所大所多撒大所多多大所多萨迪克军奥所大所多撒大所多多大
                所多萨迪克军奥所大所多撒大所多多大所多萨迪克军奥所大所多撒大所多多大所多萨迪克军奥所大所多撒大所多多大所多萨迪克军奥所大所多撒大所多多大
                所多萨迪克军奥所大所多撒大所多多大所多
            </p>
            <div class="col-sm-1">
                <button class="btn btn-info">上一小题</button>
            </div>
            <div class="col-sm-1 col-sm-offset-1">
                <button class="btn btn-warning">下一小题</button>
            </div>
            <div class="">
                <div class="col-sm-12 margin-top-20">
                    <label class="control-label cloze-answer selection-radio" >
                        <input type="radio" name="cloze"  value=""  class="selection-answers" checked>A.独山大道
                    </label>
                </div>
                <div class="col-sm-12 ">
                    <label class="control-label cloze-answer selection-radio-no" >
                        <input type="radio" name="cloze"  value=""  class="selection-answers">B.独山大道
                    </label>
                </div>
                <div class="col-sm-12 ">
                    <label class="control-label cloze-answer selection-radio-no" >
                        <input type="radio" name="cloze"  value=""  class="selection-answers">C.独山大道
                    </label>
                </div>
                <div class="col-sm-12 ">
                    <label class="control-label cloze-answer selection-radio-no" >
                        <input type="radio" name="cloze"  value=""  class="selection-answers">D.独山大道
                    </label>
                </div>
            </div>
        </div>
        <div class="col-sm-4 col-sm-offset-1 blanks-right">
            <p class="col-sm-3 font-line-height-28"><strong>您的作答：</strong></p>
            <p class="col-sm-9 font-color font-line-height-28">实打asdddddd发斯蒂芬斯蒂芬第三方递四方速递实大所多</p>
            <p class="col-sm-3 font-line-height-28"><strong>答案：</strong></p>
            <p class="col-sm-9 font-color font-line-height-28">实打asdddddd发斯蒂芬斯蒂芬第三方递四方速递实大所多</p>
            <p class="col-sm-3 font-line-height-28"><strong>视频：</strong></p>
            <p class="col-sm-4 font-line-height-28">题目视频</p>
            <p class="col-sm-4 col-sm-offset-1 font-line-height-28">面批视频</p>
            <div class="col-sm-5 col-sm-offset-2">
                <img src="../../img/math.png" class="blanks-video">
                <div class="blanks-cover">
                    <img src="../../img/play.png">
                </div>
            </div>
            <div class="col-sm-5">
                <img src="../../img/math.png" class="blanks-video">
                <div class="blanks-cover">
                    <img src="../../img/play.png">
                </div>
            </div>
            <p class="col-sm-3 font-line-height-28"><strong>解析：</strong></p>
            <p class="col-sm-9 font-color font-line-height-28">实打asdddddd发斯蒂芬斯的沙发斯蒂芬东方闪电蒂芬第三方递四方速递实大所多</p>
            <p class="col-sm-3 font-line-height-28"><strong>知识点：</strong></p>
            <p class="col-sm-9 font-color font-line-height-28">电蒂芬第三方递四方速递实大所多</p>
            <p class="col-sm-3 font-line-height-28"><strong>解题技巧：</strong></p>
            <p class="col-sm-9 font-color font-line-height-28">实打芬第三方递四方速递实大所多</p>
        </div>
    </div>
</div>
<script src="../../dep/jquery.js"></script>
<script src="../../dep/vue.js"></script>
<script src="../../plugins/bootstrap-3.3.7-dist/js/bootstrap.js"></script>
<script src="../../js/analysis.js"></script>
</body>
</html>